* {
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0;
}

img {
  width: 60px;
  height: auto;
  border-radius: 32px;
}

h1 {
  margin: 0;
}

.container {
  height: 100vh;
  display: grid;
  grid-template-columns: 220px 3fr 300px;
  grid-template-rows: 250px 1fr;
}

header {
  background-color: white;
  padding: 1rem;
  grid-column: 2 / -1;
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  box-shadow: -2px 4px 8px #1e1b4b;
  z-index: 1;
}

.search-form {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 8px;
}

#user-search {
  height: 2.5rem;
  font-size: 1.5rem;
  border-radius: 16px;
}

#user-search:hover,
#user-search:focus {
  outline: none;
  border: 4px solid #6366f1;
  box-shadow: 0 0 5px #719ece;
}

.user-profile {
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.greeting {
  display: grid;
  grid-template-columns: auto 1fr;
  justify-content: start;
  align-items: center;
  gap: 2rem;
}

.greeting img {
  width: 120px;
  border-radius: 64px;
}

.user-function {
  display: grid;
  align-items: center;
}
.user-function ul {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
}

li button {
  padding: 1rem 2rem;
  border-radius: 32px;
  background-color: #6366f1;
  color: white;
  font-size: 1rem;
  border: none;
}

li button:hover {
  background-color: #4f46e5;
}

li button:active {
  background-color: #4f46e5;
  box-shadow: 0 4px #1e1b4b;
  transform: translateY(2px);
}
.dashboard {
  background-color: #6366f1;
  padding: 1rem;
  grid-row: 1 / -1;
  z-index: 2;
  display: grid;
  grid-auto-rows: min-content;
  gap: 8px;
}

.dashboard img {
  width: 40px;
  border-radius: 0;
  filter: invert(100%) sepia(100%) saturate(1%) hue-rotate(219deg)
    brightness(103%) contrast(101%);
}

.dashboard div {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 4px;
  color: white;
}

main {
  background-color: #e0e7ff;
}

aside {
  background-color: #e0e7ff;
}
